'atom-text-editor:not([mini])':
  'ctrl-e': 'emmet:expand-abbreviation'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-7': 'editor:toggle-line-comments'
'atom-workspace, atom-workspace atom-text-editor':
  'ctrl-shift-M': 'markdown-preview:toggle'
